/* ~~~ RESET START ~~~ */
/* ~~~ RESET END ~~~ */
/* ============================================================== */
/* ~~~ DEFAULT CLASSES START ~~~ */
/* ~~~ DEFAULT CLASSES END ~~~ */
/* ============================================================== */
/* ~~~ DEFAULT COMPONENT START ~~~ */
/* ~~~ DEFAULT COMPONENT END ~~~ */
/* ============================================================== */
/* ~~~ CASTOM STYLE START ~~~ */
/* ~~~ CASTOM STYLE END ~~~ */

/* ~~~ RESET START ~~~ */
/* Указываем box sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none;
    padding: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    /* optimizeLegibility для микротекста */
    line-height: 1.5;

    color: black;
    font: 400 16px/1 'Roboto', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
    /* Убираем стандартные бордеры */
    border: none;
}

textarea {
    resize: vertical;
}

button {
    cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ~~~ RESET END ~~~ */
/* ============================================================== */
/* ~~~ DEFAULT CLASSES START ~~~ */
.container {
    background-color: #fff;
    padding: 50px 0 50px 60px;
}

.bg-red {
    background-color: rgba(255, 0, 0, 0.3);
}

.bg-blue {
    background-color: rgba(0, 0, 255, 0.3);
}

.bg-aqua-blue {
    background-color: rgba(0, 255, 255, 0.3);
}

.bg-orange {
    background-color: rgba(255, 166, 0, 0.3);
}

.position-r {
    position: relative;
}

.position-a {
    position: absolute;
}

.margin_top70 {
    margin-top: 70px;
}

.text-align-l {
    text-align: left;
}
/* ~~~ DEFAULT CLASSES END ~~~ */
/* ============================================================== */
/* ~~~ DEFAULT COMPONENT START ~~~ */
.hr-line {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 700px;
    max-width: 80%;
    height: 3px;
    background: yellow;
    margin-left: 3%;
    margin-bottom: 15px;
}

.hr-line-short {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    max-width: 40%;
    height: 2px;
    background: rgb(115, 214, 115);
    margin-left: 1%;
    margin-bottom: 10px;
}

/* table pretty=format start */
.table-git {
    margin-left: 25px;
    background-color: rgb(238, 94, 94);
    top: 0;
    left: 0;
    border-radius: 0 0 7px 7px;
    width: 900px;
    max-width: 80%;
    transform: scaleY(1);
    transition: all 0.5s ease 0s;
}

.table-git__full {
    z-index: 1;
}

.table-git caption {
    padding: 13px 35px 15px;
    text-align: right;
    cursor: pointer;
}

.t-g__c1 {
    border-radius: 7px;
}

.t-g__c2 {
    border-radius: 7px 7px 0 0;
}

.table-git th {
    padding: 25px 0 15px 10px;
}

.table-git th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.table-git td:first-child {
    text-align: center;
    font-weight: bold;
    width: 20%;
}

.table-git td {
    padding: 8px 10px;
    line-height: 1.6;
}

.table-git td:last-child {
    padding-left: 40px;
}

td.padding-t {
    padding-top: 25px;
}

td.padding-b {
    padding-bottom: 25px;
}

/* toggle */
.table-git.scale {
    transform: scaleY(0);
    transition: all 0.4s ease 0s;
}
/* toggle */
/* table pretty=format end */
/* ~~~ DEFAULT COMPONENT END ~~~ */
/* ============================================================== */
/* ~~~ CASTOM STYLE START ~~~ */
h2 {
    margin-bottom: 40px;
    padding: 15px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.h2-wrapper {
    margin-left: 30px;
    width: 60%;
    border-radius: 6px;
}

/* ~~~ CASTOM STYLE END ~~~ */
